.app {
  padding: 20px;
}

.container {
  position: relative;
  width: 80vw;
  height: 80vh;
  border: 2px solid #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 20px;
}

.inner-box {
  width: 100px;
  height: 100px;
  background-color: #a0e0a0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
